# becmd configuration file
# ========================
#
# General configuration
# ---------------------
#
# The ``becmd`` section accept general statements to configure the behavior of
# the ``becmd`` program. Bellow are listed the list of accepted configuration
# directives.
#
# default (string)
#     Default host to which the program should connect to.
#
#
# Hosts configuration
# -------------------
#
# Other sections of the configuration file are treated as a list hosts where
# each section describes the connection parameters to a remote Beyond Security
# beSECURE host.
#
# A host section accepts the following keys:
#
# api_key (string) _Required_
#     The authentication/authorization token required to make use of the remote
#     host's REST API.
#
# host (string)
#     IP address or host name to reach the remote host. When not given, the
#     host's section name is used as hostname.
#

#[becmd]
#default = "host_a"
#
#[host_a]
#api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#host = "AA.BB.CC.DD"
#
#[AA.BB.CC.DD]
#api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
