# becmd configuration file
# ========================
#
# General configuration
# ---------------------
#
# The ``becmd`` section accept general statements to configure the behavior of
# the ``becmd`` program. Bellow are listed the list of accepted configuration
# directives.
#
#
# Hosts directives
# ^^^^^^^^^^^^^^^^
#
# hosts.api_key (string)
#     The authentication/authorization token that will be used in case the host
#     section does not specify one.
#
# hosts.default (string)
#     Default host to which the program should connect to.
#
#
# Logging directives
# ^^^^^^^^^^^^^^^^^^
#
# It is possible to change the way ``becmd`` logs messages on the console. All
# logging configuration statements must be prefixed with ``logging.``.
#
# logging.datefmt (string)
#     Date and time format string.
#
# logging.format (string)
#     The overall log message format string. For all available identifiers,
#     refer to the `Python's documentation <https://docs.python.org/3/library/logging.html#logrecord-attributes>`_.
#
# logging.level (string)
#     The minimum severity level of the emitted log messages. One of: 
#     ``CRITICAL``, ``ERROR``, ``WARNING``, ``INFO``, ``DEBUG``, ``NOTSET``.
#
# logging.style (string)
#     The Python's string format style used to build the log message format
#     string. One of: ``%``, ``{``, ``$``.
#
#
# Hosts configuration
# -------------------
#
# Other sections of the configuration file are treated as a list hosts where
# each section describes the connection parameters to a remote Beyond Security
# beSECURE host.
#
# A host section accepts the following keys:
#
# api_key (string)
#     The authentication/authorization token required to make use of the remote
#     host's REST API.
#
# host (string)
#     IP address or host name to reach the remote host. When not given, the
#     host's section name is used as hostname.
#

#[becmd]
#hosts.api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#hosts.default = "host_a"
#logging.datefmt = "%Y-%m-%d %H:%M:%S"
#logging.format = "%(levelname)s: %(message)s"
#logging.level = "INFO"
#logging.style = "%"
#
#[host_a]
#api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
#host = "AA.BB.CC.DD"
#
#[AA.BB.CC.DD]
#api_key = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
